.editarClienteChild {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    112.26deg,
    transparent,
    rgba(0, 102, 255, 0.57) 63.54%
  );
  width: 1280px;
  height: 832px;
}
.editarClienteItem {
  top: 39px;
  left: 407px;
  background-color: var(--color-dimgray);
  width: 424px;
  height: 54px;
  opacity: 0.5;
}
.editarClienteInner,
.editarClienteItem,
.rectangleDiv {
  position: absolute;
  border-radius: var(--br-25xl);
}
.editarClienteInner {
  top: 30px;
  left: 1078px;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 172px;
  height: 59px;
}
.rectangleDiv {
  top: 44px;
  left: 642px;
  background-color: var(--color-gainsboro-100);
  width: 118px;
  height: 40px;
}
.clientes,
.dashboard {
  position: absolute;
  top: 57px;
  left: 510px;
  font-size: var(--font-size-xs);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 71px;
  height: 18px;
}
.clientes {
  left: 666px;
}
.editarClienteChild1,
.ellipseIcon {
  position: absolute;
  top: 36px;
  left: 1189px;
  border-radius: 50%;
  width: 47px;
  height: 47px;
  object-fit: cover;
}
.editarClienteChild1 {
  top: 44px;
  left: 1111px;
  width: 30px;
  height: 30px;
}
.elmcardmain {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xl);
  background: linear-gradient(90deg, #0c339a, rgba(12, 62, 191, 0));
  box-shadow: 0 6px 58px rgba(196, 203, 214, 0.1);
}
.elmgeneralprogressIcon {
  position: absolute;
  height: 28.32%;
  width: 3.02%;
  top: 35.29%;
  right: 3.52%;
  bottom: 36.39%;
  left: 93.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bgtaskstatusgreen {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkviolet-200);
}
.uiuxDesigner {
  position: absolute;
  top: 7px;
  left: 7px;
  line-height: 16px;
}
.elmgeneraltaskstatusdone1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.elmgeneraltaskstatusdone {
  position: absolute;
  height: 32.97%;
  width: 6.9%;
  top: 32.97%;
  right: 11.7%;
  bottom: 34.07%;
  left: 81.4%;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-darkviolet-100);
}
.assigneeCopy,
.estimate,
.priority {
  position: absolute;
  width: 6.55%;
  top: calc(50% - 23.5px);
  left: 30.88%;
  display: inline-block;
}
.assigneeCopy,
.priority {
  width: 4.8%;
  top: calc(50% - 24.5px);
  left: 54.85%;
}
.priority {
  width: 7.6%;
  top: calc(50% - 23.5px);
  left: 67.37%;
}
.uiuxDesigner1 {
  position: absolute;
  top: calc(50% - 6.58px);
  left: 34.18%;
  line-height: 16px;
}
.container,
.priorityIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.priorityIcon {
  height: 66.67%;
  width: 50%;
  top: 16.67%;
  right: 25%;
  bottom: 16.67%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.icngeneralprioritymedium,
.taskStatusMedium1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.icngeneralprioritymedium {
  width: 30.38%;
  right: 69.62%;
  display: none;
}
.taskStatusMedium1 {
  width: 97.53%;
  right: 2.47%;
  overflow: hidden;
}
.taskStatusMedium {
  position: absolute;
  height: 26.37%;
  width: 9.47%;
  top: 49.45%;
  right: 25.96%;
  bottom: 24.18%;
  left: 64.56%;
  color: var(--color-orange);
}
.elmgeneralphotoIcon {
  position: absolute;
  height: 30.26%;
  width: 3.23%;
  top: 47.51%;
  right: 41.19%;
  bottom: 22.23%;
  left: 55.58%;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.d4h,
.research {
  position: absolute;
  width: 14.39%;
  top: calc(50% - 0.5px);
  left: 3.51%;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: var(--color-white);
  display: inline-block;
}
.d4h {
  width: 4.91%;
  left: 30.88%;
}
.d2h,
.spentTime {
  left: 42.34%;
  display: inline-block;
}
.spentTime {
  position: absolute;
  width: 5.03%;
  top: calc(50% - 23.5px);
}
.d2h {
  width: 4.91%;
  top: calc(50% - 0.5px);
  font-size: var(--font-size-base);
  line-height: 24px;
  color: var(--color-white);
}
.d2h,
.task,
.taskName {
  position: absolute;
}
.taskName {
  width: 3.27%;
  top: calc(50% - 23.5px);
  left: 3.51%;
  display: inline-block;
}
.task {
  top: 343px;
  left: 152px;
  width: 955px;
  height: 103px;
}
.elmgeneralprogressIcon1 {
  position: absolute;
  height: 28.3%;
  width: 3.02%;
  top: 35.3%;
  right: 3.52%;
  bottom: 36.4%;
  left: 93.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bgtaskstatusgreen1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-goldenrod-200);
}
.uiuxDesigner2 {
  position: absolute;
  top: 7px;
  left: 8px;
  line-height: 16px;
}
.elmgeneraltaskstatusdone2 {
  position: absolute;
  height: 32.97%;
  width: 6.9%;
  top: 32.97%;
  right: 11.7%;
  bottom: 34.07%;
  left: 81.4%;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-goldenrod-100);
}
.assigneeCopy1,
.estimate1,
.priority1 {
  position: absolute;
  width: 6.55%;
  top: calc(50% - 24px);
  left: 30.88%;
  display: inline-block;
}
.assigneeCopy1,
.priority1 {
  width: 4.8%;
  top: calc(50% - 25px);
  left: 54.85%;
}
.priority1 {
  width: 7.6%;
  top: calc(50% - 24px);
  left: 67.37%;
}
.uiuxDesigner3 {
  position: absolute;
  top: calc(50% - 6.71px);
  left: 34.18%;
  line-height: 16px;
}
.elmgeneralphotoIcon1 {
  position: absolute;
  height: 30.22%;
  width: 3.23%;
  top: 47.53%;
  right: 41.19%;
  bottom: 22.25%;
  left: 55.58%;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.d4h1,
.research1 {
  position: absolute;
  width: 7.13%;
  top: calc(50% - 1px);
  left: 3.51%;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: var(--color-white);
  display: inline-block;
}
.d4h1 {
  width: 4.91%;
  left: 30.88%;
}
.spentTime1 {
  width: 5.03%;
  top: calc(50% - 24px);
  left: 42.34%;
}
.d2h1,
.spentTime1,
.taskName1 {
  position: absolute;
  display: inline-block;
}
.d2h1 {
  width: 4.91%;
  top: calc(50% - 1px);
  left: 42.34%;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: var(--color-white);
}
.taskName1 {
  width: 3.27%;
  top: calc(50% - 24px);
  left: 3.51%;
}
.task1 {
  position: absolute;
  top: 458px;
  left: 152px;
  width: 955px;
  height: 104px;
}
.elmgeneralprogressIcon2 {
  position: absolute;
  height: 28.28%;
  width: 3.02%;
  top: 35.31%;
  right: 3.52%;
  bottom: 36.41%;
  left: 93.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bgtaskstatusgreen2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-lightcyan);
}
.uiuxDesigner4 {
  position: absolute;
  top: 7px;
  left: 19px;
  line-height: 16px;
}
.elmgeneraltaskstatusdone4 {
  position: absolute;
  height: 32.97%;
  width: 6.9%;
  top: 32.97%;
  right: 11.7%;
  bottom: 34.07%;
  left: 81.4%;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-mediumseagreen);
}
.uiuxDesigner5 {
  position: absolute;
  top: calc(50% - 6.85px);
  left: 34.18%;
  line-height: 16px;
}
.elmgeneralphotoIcon2 {
  position: absolute;
  height: 30.18%;
  width: 3.23%;
  top: 47.55%;
  right: 41.19%;
  bottom: 22.27%;
  left: 55.58%;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.research2 {
  position: absolute;
  width: 13.33%;
  top: calc(50% - 0.5px);
  left: 3.51%;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: var(--color-white);
  display: inline-block;
}
.task2,
.task3 {
  position: absolute;
  top: 691px;
  left: 152px;
  width: 955px;
  height: 105px;
}
.task3 {
  top: 226px;
}
.elmgeneralphotoIcon4,
.elmgeneralprogressIcon4 {
  position: absolute;
  height: 26.37%;
  width: 2.81%;
  top: 36.26%;
  right: 3.63%;
  bottom: 37.36%;
  left: 93.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.elmgeneralphotoIcon4 {
  top: 49.45%;
  right: 41.4%;
  bottom: 24.18%;
  left: 55.79%;
  border-radius: 50%;
}
.research4 {
  position: absolute;
  width: 14.5%;
  top: calc(50% - 1px);
  left: 3.51%;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: var(--color-white);
  display: inline-block;
}
.task4 {
  position: absolute;
  top: 817px;
  left: 152px;
  width: 955px;
  height: 104px;
}
.bgtaskstatusgreen5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-mistyrose);
}
.uiuxDesigner10 {
  position: absolute;
  top: 7px;
  left: 9px;
  line-height: 16px;
}
.elmgeneraltaskstatusdone10 {
  position: absolute;
  height: 32.97%;
  width: 6.9%;
  top: 32.97%;
  right: 11.7%;
  bottom: 34.07%;
  left: 81.4%;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-orangered-100);
}
.research5 {
  position: absolute;
  width: 7.13%;
  top: calc(50% - 0.5px);
  left: 3.51%;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: var(--color-white);
  display: inline-block;
}
.task5 {
  position: absolute;
  top: 574px;
  left: 152px;
  width: 955px;
  height: 105px;
}
.projects {
  position: absolute;
  top: 16px;
  left: -94px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-200);
}
.filtersIcon {
  position: absolute;
  top: 105px;
  left: 95px;
  width: 164px;
  height: 164px;
  object-fit: cover;
}
.elmmainbutton {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-dodgerblue);
  box-shadow: 0 6px 12px rgba(63, 140, 255, 0.26);
}
.icngeneraladdwhiteIcon {
  position: absolute;
  height: 50%;
  width: 15.19%;
  top: 22.92%;
  right: 74.68%;
  bottom: 27.08%;
  left: 10.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.addProject {
  position: absolute;
  top: calc(50% - 11px);
  left: 30.38%;
}
.mainButton {
  position: absolute;
  top: 157px;
  left: 234px;
  width: 158px;
  height: 48px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.elmgeneraloverlayIcon {
  position: absolute;
  top: 2px;
  left: 0;
  width: 1440px;
  height: 1538px;
  object-fit: cover;
}
.elmcardmain6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xl);
  background-color: var(--color-white);
  box-shadow: 0 6px 58px rgba(121, 145, 173, 0.2);
}
.addTaskChild,
.addTaskChild1,
.addTaskChild2,
.addTaskInner,
.addTaskItem,
.groupIcon {
  position: absolute;
  height: 17.42%;
  width: 7.02%;
  top: 15.03%;
  right: 86.99%;
  bottom: 67.55%;
  left: 5.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.addTaskChild1,
.addTaskChild2,
.addTaskInner,
.addTaskItem,
.groupIcon {
  height: 3.86%;
  width: 5.23%;
  top: 15.3%;
  right: 78.15%;
  bottom: 80.84%;
  left: 16.61%;
}
.addTaskChild1,
.addTaskChild2,
.addTaskInner,
.groupIcon {
  height: 4.24%;
  width: 5.75%;
  top: 16.49%;
  right: 65.74%;
  bottom: 79.28%;
  left: 28.51%;
}
.addTaskChild1,
.addTaskChild2,
.groupIcon {
  height: 18.06%;
  width: 7.78%;
  top: 14.27%;
  right: 5.75%;
  bottom: 67.68%;
  left: 86.47%;
}
.addTaskChild1,
.addTaskChild2 {
  height: 5.39%;
  width: 7.3%;
  top: 14.33%;
  right: 17.5%;
  bottom: 80.28%;
  left: 75.2%;
}
.addTaskChild2 {
  height: 5.49%;
  width: 6.55%;
  top: 18.56%;
  right: 30.61%;
  bottom: 75.95%;
  left: 62.84%;
}
.elmcardgray {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-aliceblue);
}
.elmgeneralprogressIcon6 {
  position: absolute;
  height: 48.78%;
  width: 8.62%;
  top: 25.61%;
  right: 85.99%;
  bottom: 25.61%;
  left: 5.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.tempoRestante {
  margin: 0;
}
.d3h25mContainer {
  top: calc(50% - 23px);
  left: 19.4%;
  line-height: 24px;
}
.d3h25mContainer,
.saveTask,
.time {
  position: absolute;
}
.time {
  height: 10.35%;
  width: 79.45%;
  top: 22.1%;
  right: 10.27%;
  bottom: 67.55%;
  left: 10.27%;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
}
.saveTask {
  top: calc(50% - 11px);
  left: 28.57%;
}
.mainButton1 {
  position: absolute;
  height: 6.06%;
  width: 19.18%;
  top: 86.99%;
  right: 10.27%;
  bottom: 6.94%;
  left: 70.55%;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.elmgeneralinputunselected {
  position: absolute;
  height: 48.98%;
  width: 100%;
  top: 31.63%;
  right: 0;
  bottom: 19.39%;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(184, 200, 224, 0.22);
  border: 1px solid var(--color-lavender);
  box-sizing: border-box;
}
.position {
  position: absolute;
  top: calc(50% - 49px);
  left: 6px;
  line-height: 24px;
}
.input {
  position: absolute;
  height: 12.37%;
  width: 79.45%;
  top: 35.23%;
  right: 10.27%;
  bottom: 52.4%;
  left: 10.27%;
}
.icngeneraltimegrayIcon {
  position: absolute;
  top: calc(50% - 6px);
  right: 18px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.div,
.position1 {
  position: absolute;
  top: calc(50% - 7px);
  left: 18px;
  line-height: 24px;
}
.position1 {
  top: calc(50% - 49px);
  left: 6px;
  display: none;
}
.inputwithiconright1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: none;
}
.inputwithiconright,
.inputwithiconright2 {
  position: absolute;
  height: 12.88%;
  width: 38.36%;
  top: 48.36%;
  right: 10.27%;
  bottom: 38.76%;
  left: 51.37%;
}
.inputwithiconright2 {
  right: 51.37%;
  left: 10.27%;
}
.elmgeneralinputunselected3 {
  position: absolute;
  height: 68.97%;
  width: 100%;
  top: 17.82%;
  right: 0;
  bottom: 13.22%;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(184, 200, 224, 0.22);
  border: 1px solid var(--color-lavender);
  box-sizing: border-box;
}
.addSomeDescription,
.description {
  position: absolute;
  top: calc(50% - 45px);
  left: 18px;
  line-height: 24px;
}
.description {
  top: calc(50% - 87px);
  left: 6px;
}
.inputbigfield {
  position: absolute;
  height: 21.97%;
  width: 79.45%;
  top: 61.99%;
  right: 10.27%;
  bottom: 16.04%;
  left: 10.27%;
}
.timeTracking {
  top: calc(50% - 337px);
  left: 10.27%;
  font-size: 22px;
  color: var(--color-gray-200);
}
.addTask,
.icon,
.timeTracking {
  position: absolute;
}
.icon {
  height: 5.56%;
  width: 7.53%;
  top: 3.79%;
  right: 5.14%;
  bottom: 90.66%;
  left: 87.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.addTask {
  top: 36px;
  left: 338px;
  width: 584px;
  height: 792px;
  color: var(--color-lightslategray-200);
}
.editarClienteChild2,
.ellipseDiv {
  position: absolute;
  top: 20px;
  left: 19px;
  border-radius: 50%;
  background-color: var(--color-darkslateblue);
  width: 20px;
  height: 20px;
}
.editarClienteChild2 {
  top: 28px;
  background-color: var(--color-chocolate);
}
.deivilyDiasIxcpayContainer {
  position: absolute;
  top: 20px;
  left: 43px;
  font-size: var(--font-size-2xs);
  display: inline-block;
  color: var(--color-white);
  width: 93px;
  height: 33px;
}
.editarCliente {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 832px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-lightslategray-100);
  font-family: var(--font-nunito-sans);
}
